.paddingList {
    --inner-padding-end: 16px;
}
.marginList{
    width: 90px;
    margin-left: 11px;
    margin-bottom: 5px;
    margin-top: 7px;
}
.marginLeft-8p{
    margin-left: 8px;
}
ion-content{
    --ion-background-color: #fbfbfb;
}
.padding-54{
    padding:54px
}
img {
    max-width: 70%;
    border: 0;
    margin-left: 13%;
}