
<ion-content>
  <div class="ion-padding">
  <div>
    <img src="assets/mainimage.jpg" style="width: 100%;">
  </div>  
  <ion-button expand="block" fill="outline" class="buttonStyle"
  routerLink="/pic-dictionary" routerDirection="root">Start</ion-button>

  <ion-row>
    <ion-col size="4">
      <button ion-button style="    
      background-color: white;
      border: 1px solid #d8d6d6; border-radius: 4px;"
      (click)="rateTheApp()">
        <ion-icon name="star" style="font-size: 30px;"></ion-icon>
      </button>
    </ion-col>
    <ion-col size="4">
      <button ion-button style="    
      background-color: white;
      border: 1px solid #d8d6d6;
      margin-left: 21px; border-radius: 4px;"
      (click)="socialShare()">
        <ion-icon name="share" style="font-size: 30px;"></ion-icon>
      </button>
    </ion-col>
    <ion-col size="4">
      <button ion-button style="    
      background-color: white;
      border: 1px solid #d8d6d6; border-radius: 4px;
      float: right;">
        <ion-icon name="grid" style="font-size: 30px;"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
  </div>
</ion-content>
